
body {

	font-family: Futura; 
	text-align: center;
	letter-spacing: 10px;
	font-weight: normal;
    color: red;
}

header {
	font-family:Futura;
  	text-align:center;
  	font-weight:normal;
 	}

 h1 {
 	font-weight: normal;
 	font-size: 3em
 }

 	.nav li {
  	display: inline;
  	padding: 0px 15px 0px 15px;
		}

	.nav { 
		font-size: 1.25em
	}

	.nav li a {
		color: #000;
		text-decoration: none;
	}

	.nav li a:visited {
		color: #000;
		text-decoration: none;
	}

	.nav li a:hover {
	color: #01a9b4;
	text-decoration: none;
	}

	.nav li a:active {
		color: #000;
		text-decoration: none;
	}

    .new-comics {
        margin-right: auto;
        margin-left: auto;
    }
    .old-comics {
        margin-right: auto;
        margin-left: auto;
    }

	#lk {
		padding: 1.218em .8125em .8125em .8125em
	}
	#zj {
		padding: 1.218em .8125em .8125em .8125em
	}
	#bs {
		padding: 1.218em .8125em .8125em .8125em
	}
	#oa {
		padding: 1.218em .8125em .8125em .8125em
	}


h6 {
	font-weight:normal;
	font-size: 1em;
}

@font-face {
    font-family: 'si';
    src: url('assets/socicon.eot');
    src: url('assets/socicon.eot?#iefix') format('embedded-opentype'),
         url('assets/socicon.woff') format('woff'),
         url('assets/socicon.ttf') format('truetype'),
         url('assets/socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;
 
}
 
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:si;
        src: url(assets/socicon.svg) format(svg);
    }
}

.soc {
    overflow:hidden;
    margin:0; padding:0;
    list-style:none;
}

.soc li {
    display:inline-block;
    *display:inline;
    zoom:1;
}

.soc li a {
    font-family:si!important;
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    width: 51px;
    height: 51px;
    line-height: 51px;
    font-size: 28px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    margin-right: 41px;
    color: #ffffff;
    background-color: #C2CCCC;
}

.soc-icon-last{
    margin:0 !important;
}

.soc-instagram:before {
    content:'x';
}
.soc-pinterest:before {
    content:'d';
}
.soc-tumblr:before {
    content:'z';
}
.soc-twitter:before {
    content:'a';
}

