/* CSS Reset */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* Page Styles */

body {

	font-family: Futura; 
	text-align: center;
	letter-spacing: 10px;
	font-weight: normal;
	width: 92.1875%;
	margin-left: auto;
  	margin-right: auto;
	}


/* Header & Navigation*/

header {
	font-family:Futura;
  	text-align:center;
  	font-weight:normal;
 	}

 h1 {
 	font-weight: normal;
 	font-size: 3em;
 	margin-top: .5em;
 	}

 h1 a{
 	text-decoration: none;
 	color: #000;
 }


.mobile-only {
    display: none;
	}

#toggler {
    display: none;
	}

nav {
    float: none;
    margin-top: 1em;
	}

nav li {
    display: inline;
	}

nav li a {
    padding: 26px 2px;
    color: #000;
    display: inline-block;
    text-decoration: none;
    margin: .5em;
	}

nav li a:visited {
	color: #000;
	text-decoration: none;
	}

nav li a:hover {
	color: #01a9b4;
	text-decoration: none;
	}

nav li a:active {
	color: #000;
	text-decoration: none;
	}

/* Portfolio Image Links*/

  main {
  	width: 99.57627%;
  	margin-left: auto;
  	margin-right: auto;
  }
 
 .gallery {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
    }

 main img {
  	border: solid black 1px;
    }

#new {
	margin-bottom: 21px;
	}


	
/* Footer */

footer {
    padding: 33px 0px;
	}

footer li {
    display: inline-block;
	}

footer h6 {
	font-weight: normal;
	font-size: 1.1em;
	margin-top: .25em;
	margin-bottom: 1em;
    text-align: center;
	}

.soc-nav a img{
	height: 2.7em;
	width: 2.7em;
	padding: 0em .25em;
	margin-right: auto;
    margin-left: auto;
	}

/* Carousel Styles */

.carousel img {
	border: 1px solid black;
	margin-right: auto;
    margin-left: auto;
    margin-top: 1em;
    max-width: 90%;
	}

.slick-slide {
outline: none !important;
}

/* Previous and Next Arrows */

.slick-prev {
	background: url("../assets/prev.png");
	width: 50px;
	height: 50px;
    display: block;
	position: absolute;
	left: 0;
	top: 40%;
	z-index: 1;
	-webkit-appearance: none;
	border: none;
	text-indent: 799px;
	overflow: hidden;
	outline: none !important;
	}

.slick-next {
	background: url("../assets/next.png");
	width: 50px;
	height: 50px;
    display: block;
	position: absolute;
	right: 0;
	top: 40%;
	z-index: 1;
	-webkit-appearance: none;
	border: none;
	text-indent: 799px;
	overflow: hidden;
	outline: none !important; 
	}

/* Grid System */

 .row {
	clear: both;
	padding: 0;
	margin: 0 auto;
	max-width: 1170px;
	}

.row:after {
	content: "";
	clear: both;
	height: 0;
	visibility: hidden;
	display: block;
	}

.column {
	float: left;
	margin: 0 0 0 2.56%;
	min-height: 1px;
	}

.column:first-of-type { 
	margin-left: 0;
	}

.span_12_of_12 {
	width: 100%;
	}

.span_11_of_12 {
  	width: 91.45%;
	}

.span_10_of_12 {
  	width: 82.90%;
	}

.span_9_of_12 {
  	width: 74.36%;
	}

.span_8_of_12 {
  	width: 65.81%;
	}

.span_7_of_12 {
  	width: 57.26%;
	}

.span_6_of_12 {
  	width: 48.72%;
	}

.span_5_of_12 {
  	width: 40.17%;
	}

.span_4_of_12 {
  	width: 31.62%;
	}

.span_3_of_12 {
  	width: 23.08%;
	}

.span_2_of_12 {
  	width: 14.53%;
	}

.span_1_of_12 {
  	width: 5.986%;
	}

/* Zombie Jr. Nav Breakpoint */
@media screen and (max-width: 1090px){

body{
	width: 100%;
}
.carousel img {
	border-top: solid black 1px;
	border-bottom: solid black 1px; 
	border-left: none;
	border-right: none;
	margin: 0;
	min-width: 100%;
}

.slick-prev {
	background-image: none;
	width: 350px;
	height: 600px;
    display: block;
	position: absolute;
	left: 0;
	top: 10%;
	z-index: 1;
	-webkit-appearance: none;
	border: none;
	text-indent: 799px;
	overflow: hidden;
	outline: none !important;
	}

.slick-next {
	background-image: none;
	width: 350px;
	height: 600px;
    display: block;
	position: absolute;
	right: 0;
	top: 10%;
	z-index: 1;
	-webkit-appearance: none;
	border: none;
	text-indent: 799px;
	overflow: hidden;
	outline: none !important; 
	}


}

/* Mobile Breakpoint */

@media screen and (max-width: 680px){


.mobile-only {
	display: block;
	text-align: left;
}

#toggler {
	display: block;
	visibility: hidden;
}

.desktop-menu {
	display: none;
}

header nav li {
		text-align: left;
		display: block;
		border-top: 1px solid gray;
		
	}

#oa-button {
		text-align: left;
		display: block;
		border-top: 1px solid gray;
		border-bottom: 1px solid gray;
	}

#about-button {
		text-align: left;
		display: block;
		border-top: 0px;
	}

label[for="toggler"]{
		padding: 26px 10px;
		border-top: 1px solid gray;
		border-bottom: 1px solid gray;
	}

label[for="toggler"] img {
	float: right;
}
	
#toggler ~ ul {
		max-height: 0;
		overflow: hidden;
		transition: 1s;
	}
#toggler:checked ~ ul {
		max-height: 100vh;
}

body {
width: 100%;
}

.column, .column:first-child {
width: 100%;
margin: 1em 0%;
}

main img {
	border-top: solid black 1px;
	border-bottom: solid black 1px; 
	border-left: none;
	border-right: none;
	width: 100%;
}


#lk {
	margin-top: .5em;
}

#new {
	margin-bottom: 0px;
}

.soc-nav a img{
	height: 2.8em;
	width: 2.8em;
	padding: 0px 4px;
	margin-right: auto;
    margin-left: auto;
}



